.wedding-website {
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-family: "Playfair Display", serif;
}

.wedding-navbar {
  display: flex;
  flex-direction: column;
}

.nav-logo {
  width: 100vw;
  background: #B0C5D1;
  justify-content: center;
  display: flex;
}

.nav-logo img {
  max-height: 40px;
  margin: 15px;
}

.nav-links {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 50px;
  padding: 30px 0 20px 0;

}

.nav-links a {
  text-decoration: none;
  color: black;
  font-family: 'Montserrat', sans-serif;
}

.nav-links a:hover,
.nav-links a.active {
  font-weight: bold;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  flex-grow: 1;
  justify-content: center;
}

h1,
p {
  color: aliceblue;
}

.our-story {
  background: #F6EDE1;

}

.our-story p {
  padding: 70px;
  color: black;
  max-width: 75%;
  margin: 0 auto;
  text-align: center;

}

.date {
  font-size: 24px;
}